/* task_2/css/main.css */

.button {
    position: relative;
}
  
.counter {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}

#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
}